@import '_variables';

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


h3 {
    font-size: 2.5rem;
    @include breakpoint('desktop'){
        margin: 1.5rem 0;
    }
    @include breakpoint('until-desktop'){
        margin:0;
        padding: 1.5rem;
    }
}

h4 {
    margin: 0;
    font-size: 2rem;
}

h5 {
    margin: 0;
    font-size: 1.5rem;
}

hr {
    height: .2rem;
    background: $primary;
    border: none;
    @include breakpoint('until-desktop'){
        margin: 1.5rem 0;
    }

        @include breakpoint('desktop'){

        margin: 2rem 0;
    }
}


#what,
#gallery,
#contact {
    width: 100%;
    background-color: $primary100;
    padding-bottom: 3rem;
    @include breakpoint('desktop') {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    }
}


#features-outer,
#values-outer {
    width: 100%;
    background-color: $primary100;

    #features,
    #values {
        width: 100%;
        background-color: $white;
        padding-bottom: 3rem;
        @include breakpoint('desktop') {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top-left-radius: 10%;
            border-top-right-radius: 10%;
        }
    }

    #features .details .details-card {
        min-height: 915px;
    }

    #values .details .details-card {
        align-self: stretch;
    }
}


figure {
    padding: 1rem 1rem 0 1rem;
    margin: 0;

    amp-img {
        border-radius: 1.5rem;

        img {
            object-fit: cover;
        }
    }

    figcaption {
        text-align: right;
        color: $grey;
        font-size: 1rem;
        margin-top: .3rem;
        margin-right: 1.5rem;
    }
}

p small,
li small {
    color: $grey;
    font-size: .9rem;
}

.btn {
    line-height: 5rem;
    background: $primary;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    color: $white;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}