@import '_variables';

.details {
    position: relative;
    
    @include breakpoint('desktop') {
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
    }

    .details-card {
        h4 svg {
            margin-bottom: -.75rem;
            line-height: 4rem;
        }


        @include card-shape($primary100);
        
        @include breakpoint('desktop') {
            flex: 1;
            flex-grow: 1;

            &.top-1 {
                margin-top: 4rem;
                margin-left: 2rem;
            }

            &.top-2 {
                margin-top: 8rem;
                margin-left: 2rem;
            }

            &.spacing {
                margin-left: 2rem;
            }
        }
    }
}