@import '_variables';

.gallery-grid {
    max-width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include breakpoint('desktop') {
        flex-direction: row;
    }

    .device {
        max-height: 650px;

        @include breakpoint('desktop') {
            flex: 2;
        }

        .iphone-x {
            transform: scale(0.7);

            margin-top: -6.5rem;
        }
    }

    .controls {
        flex: 1;
        
        @include breakpoint('until-desktop') {
            margin: 0 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        @include breakpoint('desktop'){
            align-self: flex-start;
        }


        .control {
            @include breakpoint('desktop') {
                font-size: 1.3rem;
                padding: .75rem 3rem;
                margin: 2.8rem 1rem 0;
                border-radius: 2rem;
            }

            @include breakpoint('until-desktop') {
                padding: .5rem;
                margin: 0 .25rem .5rem;
                border-radius: 1rem;
                width: 80px;
            }

            font-weight: bold;
            text-align: center;
            background: $white;

            &[selected] {
                background: $primary200;
                outline: none;
            }

            &*:focus {
                outline: none;
            }
        }
    }
}