@import '_variables';

#hero {

    @include breakpoint('until-desktop') {
        min-height: 75vh;
    }

    @include breakpoint('desktop') {
        min-height: calc(100vh - 9rem);
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 1.5rem;

    @include breakpoint('tablet') {
        padding: 0 0 3rem;
    }

    .brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $primary;

        h1 {
            @include breakpoint('desktop') {

                font-size: 5rem;
                line-height: 2.8rem;
                padding-top: 2.8rem;

                small {
                    padding-left: .5rem;
                    font-size: 1.7rem;
                    text-transform: uppercase;
                }
            }

            @include breakpoint('until-desktop') {
                font-size: 3.5rem;
                line-height: 1.9rem;
                padding-top: 1.9rem;

                small {
                    padding-left: .25rem;
                    font-size: 1.3rem;
                    text-transform: uppercase;
                }
            }

            margin: 0;

        }

        svg {
            @include breakpoint('desktop') {
                height: 250px;
                width: 250px;
            }

            @include breakpoint('until-desktop') {
                height: 100px;
                width: 100px;
            }

        }
    }

    .teaser {
        @include breakpoint('desktop') {

            padding-top: 2rem;
        }

        @include breakpoint('until-desktop') {
            padding: 1.5rem;
        }

        h2 {
            font-size: 2.2rem;

            @include breakpoint('tablet') {
                font-size: 2.5rem;
            }

            margin: 0 0 .5rem;
        }

        ul {
            margin: 0 0 0 .5rem;
            padding: 0;
            list-style: none;

            font-size: 1.9rem;
            @include breakpoint('tablet') {
                font-size: 2.2rem;
            }
        }

        ul li::before {
            font-size: 2.5rem;
            line-height: 3rem;
            font-family: sans-serif;
            content: '\2713';
            margin-right: .5rem;
            color: $primary;
        }
    }
}