body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#hero {
    min-height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero .brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #F56B11;
}

#hero .brand h1 {
    font-size: 5rem;
    line-height: 2.8rem;
    margin: 0;
    padding-top: 2.8rem;
}

#hero .brand h1 small {
    padding-left: .5rem;
    font-size: 1.7rem;
    text-transform: uppercase;
}

#hero .teaser {
    padding-top: 2rem;
}

#hero .teaser h2 {
    font-size: 2.5rem;
    margin: 0 0 .5rem;
}

#hero .teaser ul {
    margin: 0 0 0 .5rem;
    padding: 0;
    list-style: none;
    font-size: 2.2rem;
}

#hero .teaser ul li::before {
    font-size: 2.5rem;
    line-height: 3rem;
    font-family: sans-serif;
    content: '\2713';
    margin-right: .5rem;
    color: #F56B11;
}

.gallery-grid {
    max-width: 1000px;
    max-height: 700px;
    display: flex;
    align-items: center;
}

.gallery-grid .iphone-x {
    transform: scale(0.7);
    margin-top: .5rem;
}

.gallery-grid .note8 {
    transform: scale(0.65);
}

#what,
#gallery,
#contact {
    position: relative;
    padding-bottom: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FCDFCC;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

#what #leaf {
    position: absolute;
    bottom: 6rem;
    right: 6rem;
}

h3 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

h4 {
    margin: 0;
    font-size: 2rem;
}

h5 {
    margin: 0;
    font-size: 1.5rem;
}

hr {
    height: .2rem;
    background: #F56B11;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#how-outer,
#values-outer {
    min-height: 85vh;
    width: 100%;
    background-color: #FCDFCC;
}

.controls {
    display: flex;
    flex-wrap: wrap;
}

.controls .control {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding: .75rem 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 2rem;
    background: white;
    flex: 1;
}

.controls .control.active {
    background: #FCB484;
}

#how,
#values {
    padding-bottom: 3rem;
    min-height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.comparison {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
}

figure {
    padding: 1rem 1rem 0 1rem;
    margin: 0;
}

figure amp-img {
    border-radius: 1.5rem;
}

figure amp-img img {
    object-fit: cover;
}

figure figcaption {
    text-align: right;
    color: #5c5c5c;
    font-size: 1rem;
    margin-top: .3rem;
    margin-right: 1.5rem;
}

.bar {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.number {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    color: #F56B11;
    line-height: 2rem;
}


.number .unit {
    font-weight: normal;
    font-size: 1.2rem;
    color: black;
}

.chart circle {
    fill: #ddd;
    stroke: #F56B11;
    stroke-width: 50;
    stroke-dasharray: 0 158;
    transition: stroke-dasharray .3s ease;
}

.chart svg {
    margin: 0 auto;
    transform: rotate(-90deg);
    background: #ddd;
    border-radius: 50%;
    display: block;
}

.problems {
    flex: 1;
    flex-grow: 1;
    background-color: white;
    border-radius: 2rem;
    margin-right: 3rem;
    padding: 2rem;
}

.problems ul {
    list-style-type: none;

}

.problems ul li::before {
    display: inline-block;
    width: 2rem;
    margin-left: -2rem;
    font-size: 4rem;
    line-height: 1;
    content: '-';
    color: #F56B11;

}

.solutions ul {
    list-style-type: none;

}

.solutions ul li::before {
    display: inline-block;
    width: 2rem;
    margin-left: -2rem;

    font-size: 4rem;
    line-height: 1;
    content: '+';
    color: limegreen;

}

.solutions {
    flex: 1;

    background-color: white;
    border-radius: 2rem;

    padding: 2rem;

}


.details {
    position: relative;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

}


#gallery .left-arrow {

    position: absolute;
    left: 2rem;
    height: 64px;
    width: 64px;
    background: #F56B11;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


#gallery .right-arrow {
    right: 2rem;
    position: absolute;
    height: 64px;
    width: 64px;

    background: #F56B11;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

p small,
li small {
    color: #5c5c5c;
    font-size: .9rem;
}

.details .details-card {
    flex: 1;
    flex-grow: 1;
    background-color: #FCDFCC;
    border-radius: 2rem;
    padding: 2rem;
   
}
#how .details .details-card{
    min-height: 600px;
}

.details-card h4 svg {
    margin-bottom: -.75rem;
    line-height: 4rem;
}

.top-1 {
    margin-top: 4rem;
    margin-left: 2rem;
}

.top-2 {
    margin-top: 8rem;
    margin-left: 2rem;
}
.spacing{
    margin-left: 2rem;
}

#fixed {
    position: fixed;
    top: .9rem;
    right: .5rem;
    z-index: 1000;
}

#fixed a svg {
    fill: #5c5c5c;
    font-weight: 500;
    margin-right: .5rem;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    padding-left: .5rem;
    background: linear-gradient(#FCB484, rgba(#FCB484, 0.9));
    z-index: 999;
    justify-content: center;
    visibility: none;
    opacity: 0;
    display: flex;
}

#navbar svg {
    padding-top: .2rem;
}

#navbar .brand {
    align-self: center;
    font-size: 1.6rem;
    color: black;
}