@import '_variables';

.comparison {
    @include breakpoint('desktop') {
        max-width: 1000px;
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
    }
}


.problems {
    @include card-shape($white);

    @include breakpoint('desktop') {
        flex: 1;
        flex-grow: 1;

        margin-right: 3rem;
    }

    ul {
        list-style-type: none;

        li::before {
            display: inline-block;
            width: 2rem;
            margin-left: -2rem;
            font-size: 4rem;
            line-height: 1;
            content: '-';
            color: $primary;

        }
    }
}



.solutions {
    @include card-shape($white);

    @include breakpoint('desktop') {
        flex: 1;
    }

    ul {
        list-style-type: none;

        li::before {
            display: inline-block;
            width: 2rem;
            margin-left: -2rem;

            font-size: 4rem;
            line-height: 1;
            content: '+';
            color: $accent;

        }
    }

}