@import '_variables';

.contact-grid {

    @include breakpoint('desktop') {
        margin: auto;
        max-width: 1000px;
    }

    .contact-details {
        @include card-shape($white);
        margin-bottom: 2rem;
    }

    .avatars {
        @include breakpoint('desktop') {
            align-items: center;
            display: flex;
            justify-content: space-evenly;
        }

        .avatar {
            flex: 1;
            height: 96px;
            display: flex;
            @include card-shape($white);

            padding: 0 !important;
            border-top-left-radius: 48px;
            border-bottom-left-radius: 48px;

            @include breakpoint('desktop'){
                &.spacing {
                    margin-left: 2rem;
                }
            }

            svg {
                margin-right: 1rem;

                .label {
                    font-family: sans-serif;
                    font-size: 3rem;
                    fill: $white;
                }

            }
        }
    }
}