<div id="contact">
    <h3>{{ page.contact_title }}</h3>
    <div class="contact-grid">
        <div class="contact-details">
            {{ page.contact_content }}
        </div>
        <div class="avatars">
            <div class="avatar">
                <svg width="96" height="96">
                    <circle cx="48" cy="48" r="48" fill="limegreen" />
                    <text x="50%" y="54%" dominant-baseline="middle" text-anchor="middle" class="label">AK</text>
                </svg>
                <p><strong>Anke Kessler</strong><br>
                    <small>
                        Communication, based in Chile<br>
                        ak (at) minga-app.org

                    </small>
                </p>
            </div>
            <div class="avatar spacing">
                <svg width="96" height="96">
                    <circle cx="48" cy="48" r="48" fill="#FCB484" />
                    <text x="50%" y="54%" dominant-baseline="middle" text-anchor="middle" class="label">LH</text>
                </svg>
                <p><strong>Lukas Himsel</strong><br>
                    <small>Software, based in Germany<br>lh (at) minga-app.org</small></p>
            </div>
        </div>
    </div>
</div>