<div id="gallery">
    <h3>{{ page.gallery_title }}</h3>
    <div class="gallery-grid">
        <div class="device">
            <div class="marvel-device iphone-x">
                <div class="notch">
                    <div class="camera"></div>
                    <div class="speaker"></div>
                </div>
                <div class="top-bar"></div>
                <div class="sleep"></div>
                <div class="bottom-bar"></div>
                <div class="volume"></div>
                <div class="overflow">
                    <div class="shadow shadow--tr"></div>
                    <div class="shadow shadow--tl"></div>
                    <div class="shadow shadow--br"></div>
                    <div class="shadow shadow--bl"></div>
                </div>
                <div class="inner-shadow"></div>
                <div class="screen">
                    <amp-img layout="responsive" height="2436" width="1125" src="/assets/images/discover_offers_small.png"
                        [src]="slide"></amp-img>
                </div>
            </div>
        </div>

        <amp-selector on="select:AMP.setState({slide: event.targetOption})" class="controls">
            <div option="/assets/images/discover_offers_small.png" class="control" selected>Discover<br>offers</div>
            <div option="/assets/images/donate_food_small.png" class="control">Donate<br>food</div>
            <div option="/assets/images/voluntary_work_small.png" class="control">Voluntary<br>work</div>
            <div option="/assets/images/impact_board_small.png" class="control">Impact<br>board</div>
            <div option="/assets/images/center_admin_small.png" class="control">Center<br>admin</div>
        </amp-selector>
    </div>


</div>