<div id="values-outer">
    <div id="values">
        <h3>{{ page.values_title }}</h3>

        <div class="details">
            {% for card in page.values %}
            <div class="details-card {% if forloop.first %}{% else %}spacing{% endif %}">
                <h4>{{ card.title }}</h4>
                {% for item in card.items %}
                {% include components/text-caption.html %}
                {% endfor %}
                {% if card.button %}
                <center>
                    <a class="btn" href="{{ card.button.url }}">
                        {{ card.button.title }}
                    </a>
                </center>
                {% endif %}

            </div>
            {% endfor %}
        </div>
    </div>
</div>
